* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.main-content {
    display: grid;
    grid-template-columns: 300px 700px;
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
}

@media screen and (max-width:630px) {
    .main-content{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:673px) {
    .main-content{
        grid-template-columns: repeat(1, 1fr);
    }
}

.left-section {
    height: 1000px;
    margin-left: 5%;
    grid-area: 1/1/3/2;
    grid-column: span 1;
    background-color: #242531;
}

.left-content {
    padding: 1rem;
}

.profile-image {
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    color: white;
}

.designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: skyblue;
}

.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: white;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon a {
    text-decoration: none;
    color: white;
    line-height: 1.8rem;
}

.icon a i {
    color: rgb(43, 90, 219);
}

.social-media .icon {
    flex: 1;
    color: rgb(103, 103, 235);
}

.personal-details .icon {
    flex: 1;
    color: rgb(103, 103, 235);
}

.fa-lg {
    font-size: 1.33333rem;
    line-height: .75rem;
    vertical-align: -15%;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}

.skills {
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 1rem 0.5rem 1rem 0.5rem;
    color: white;
    line-height: 1.8rem;
}

.skills-title{
    text-align: center;
}

.skill-name {
    font-size: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}

.progress-bar {
    border: 1px solid white;
    height: 4px;
    background-color: white;
}

.right-section {
    grid-column: span 1/ span 2;
    background-color: #ebebeb;
    height: 1000px;
}

.right-main-content{
    padding: 2rem 3rem 2rem 3rem;
}

.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}

.para{
    display: flex;
    justify-content: space-around;
}
